html, body{
    padding: 0;
    margin: 0;
}

body{
    background: red;
    color: #fff;
}

.app{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
}
